<h3 class="mb-3">Pass Defaults</h3>
<div class="card mb-4">
  <div class="card-body">
    <div class="mb-3">
      <label class="form-label">Default Number of Games</label>
      <input type="number" name="DEFAULT_GAMES" class="form-control" value="{{ settings.DEFAULT_GAMES }}">
    </div>

    <div class="mb-3">
      <label class="form-label">Default Price per Pass</label>
      <input type="number" step="0.01" name="DEFAULT_PRICE" class="form-control" value="{{ settings.DEFAULT_PRICE }}">
    </div>
  </div>
</div>
