<h3 class="mb-3">Activity List</h3>
<div class="card mb-4">
  <div class="card-body">
    <label class="form-label">Available Activities</label>
    <input name="ACTIVITY_TAGS" id="activity-tags" class="form-control" value="{{ settings.ACTIVITY_TAGS }}">
    <div class="form-hint">Separate activities using commas. Example: Match, Practice, Tournament</div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const input = document.querySelector("#activity-tags");
    if (input) {
      new Tagify(input);
    }
  });
</script>
