{% extends "base.html" %}

{% block title %}Create New Pass{% endblock %}

{% block header %}Create New Pass{% endblock %}

{% block content %}

<h3>Create a new pass </h3>

<br>

<form action="{{ url_for('create_pass') }}" method="POST">
    <div>
        <label for="user_name">User Name:</label>
        <input type="text" name="user_name" id="user_name" required>
    </div>

    <div>
        <label for="user_email">User Email:</label>
        <input type="email" name="user_email" id="user_email" required>
    </div>

    <div>
        <label for="sold_amt">Sold Amount ($):</label>
        <input type="number" name="sold_amt" id="sold_amt" value="{{ default_amt }}" min="0" step="0.01">
    </div>

    <div>
        <label for="sessionsQt">Sessions number:</label>
        <input type="number" name="sessionsQt" id="sessionsQt" value="{{ default_qt }}" min="1" step="1">
    </div>

    <br>

    <div>
        <button type="submit">Create Pass</button>
    </div>
</form>

{% endblock %}
